.iconSelectContainer {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
    gap: 8px;
    margin-bottom: 16px;

}

.iconSelectItem {
    width: 70px;
    border-radius: 8px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--semi-color-stroke);
    color: var(--text-shallow-2);
    cursor: pointer;
}

.iconSelectItem.selected {
    border: 1px solid var(--semi-color-primary);
    color: var(--select-selected);
}

.iconSelectLabel {
    font-size: 12px;
}

.iconSelectIcon {
    width: 100%;
    margin-bottom: 8px;
}